body{
background:#0d1117;
color:white;
font-family:sans-serif;
margin:0;
padding:20px;
}

header{
text-align:center;
margin-bottom:20px;
}

header h1{
color:#00ff99;
}

#search{
width:100%;
padding:15px;
border:none;
border-radius:12px;
font-size:18px;
margin-bottom:20px;
background:#161b22;
color:white;
}

.card{
background:#161b22;
padding:18px;
margin:15px 0;
border-radius:15px;
box-shadow:0 0 10px #000;
}

.card h3{
margin:0;
color:#00ff99;
}

.card pre{
background:#000;
padding:10px;
border-radius:10px;
overflow:auto;
}

button{
background:#00ff99;
color:black;
border:none;
padding:12px 18px;
border-radius:10px;
font-size:16px;
margin-top:10px;
}
